In [1]:
import pandas as pd

In [ ]:
player_stats = pd.read_csv('data_output/player_season_stats_23-24.csv', names=)
player_stats.head()

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
   Unnamed: 0_level_1 Unnamed: 1_level_1 Unnamed: 2_level_1
0              league             season               team
1  ENG-Premier League               2324            Arsenal
2  ENG-Premier League               2324            Arsenal
3  ENG-Premier League               2324            Arsenal
4  ENG-Premier League               2324            Arsenal

  Unnamed: 3_level_0             nation                pos                age  \
  Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1 Unnamed: 6_level_1
0             player                NaN                NaN                NaN
1     Aaron Ramsdale                ENG                 GK               25.0
2          Ben White                ENG                 DF               25.0
3        Bukayo Saka                ENG                 FW               21.0
4      Cédric Soares                POR                 DF               31.0

                born Playing Time         ... Per 90 Minutes              \
  Unnamed: 7_level_1           MP Starts  ...            Gls   Ast   G+A
0                NaN          NaN    NaN  ...            NaN   NaN   NaN
1             1998.0          6.0    6.0  ...           0.00  0.00  0.00
2             1997.0         37.0   35.0  ...           0.12  0.12  0.24
3             2001.0         35.0   35.0  ...           0.49  0.28  0.77
4             1991.0          3.0    0.0  ...           0.00  0.00  0.00


   G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG
0   NaN    NaN   NaN   NaN    NaN   NaN      NaN
1  0.00   0.00  0.00  0.00   0.00  0.00     0.00
2  0.12   0.24  0.03  0.11   0.15  0.03     0.15
3  0.31   0.59  0.48  0.32   0.80  0.33     0.65
4  0.00   0.00  0.00  0.00   0.00  0.00     0.00

[5 rows x 37 columns]

In [ ]:
player_stats.columns[8:].values.tolist()
player_stats.iloc[0][8:].values.tolist()

columns_names = [col1+' '+col2 for col1, col2 in zip(player_stats.columns[8:].values.tolist(), player_stats.iloc[0][8:].values.tolist())]
columns_names

In [ ]:
# apply a lambda function to remove the string at the right of the pointer in each element of the list
# columns_90min = list(map(lambda x: x.split('.')[0], player_stats.columns[-10:].values.tolist()))

column_names_ = player_stats.iloc[0][8:-10].values.tolist()

# To the last 11 columns only, add the suffix ' per 90min' to each column name
columns_90min = [f"{col} per 90min" for col in player_stats.iloc[0][-10:].values.tolist()]
#column_names_+columns_90min

In [53]:
column_names = player_stats.iloc[1][:4].values.tolist()+player_stats.columns[4:8].values.tolist()+column_names_+columns_90min
column_names

['league',
 'season',
 'team',
 'player',
 'nation',
 'pos',
 'age',
 'born',
 'MP',
 'Starts',
 'Min',
 '90s',
 'Gls',
 'Ast',
 'G+A',
 'G-PK',
 'PK',
 'PKatt',
 'CrdY',
 'CrdR',
 'xG',
 'npxG',
 'xAG',
 'npxG+xAG',
 'PrgC',
 'PrgP',
 'PrgR',
 'Gls per 90min',
 'Ast per 90min',
 'G+A per 90min',
 'G-PK per 90min',
 'G+A-PK per 90min',
 'xG per 90min',
 'xAG per 90min',
 'xG+xAG per 90min',
 'npxG per 90min',
 'npxG+xAG per 90min']